
body{height: 20rem;}



.color1{height: 3rem; background: #cccccc;}
.color2{height: 3rem; background: #0064b4;}
.color3{height: 3rem; background: #980c10;}
.color4{height: 3rem; background: #EFE4B0;}
.color5{height: 3rem; background: #7092BE;}