@charset "gb2312";
/* CSS Document */

/*til*/
.til { width:100%; line-height:1.8; margin:5% 0; position:relative; overflow: hidden;}
.til p{ font-size:0.5625rem; color:#0555aa; text-align:center; font-weight:bold;}
.til small{ position:absolute; top:85%; width:100%; height:1px; background:#b7b7b7; z-index:-1;}
.til h2 { text-align:center;}
.til h2 em { background:#fff; display:inline-block; font-size:0.25rem; line-height:1; color:#b7b7b7; padding:0 18px; text-transform:uppercase;  position:relative; }

.xgdb{ width:98%; margin:0 auto 0.4rem; overflow: hidden;}
.xgdb ul{ text-align:center;}
.xgdb li{ float:left; width:49.4%; display:inline-block; margin:0 0 2%;}

/*zixun*/
.zixun1{ text-align:center; margin:2% auto;}
.zixun1 .consult{ width:35.31%; margin-right:20px; display:inline-block;}
.zixun1 .phone{width:35.31%; display:inline-block;}
.zixun2{ width:65.4%; margin:8% auto 5%;}

/*liaofa*/
.lf{ width:98%; margin:3% auto; position:relative; color:#FFF; text-align:justify;}
.lf span{ font-size:0.375rem; line-height:1.3; margin:5% auto;}
.wz1{ width:60%; position:absolute; top:7%; right:3%;}
.wz1 p{ font-size:0.406rem; text-align:right; font-weight:bold; margin:5% auto 0;}
.wz2{ width:62%; position:absolute; top:10%; left:3%;}
.wz2 p{ font-size:0.406rem; text-align:left; font-weight:bold; margin:7% auto 0;}




.zlys{ width:98%; margin:0 auto;}
.zlys ul{ text-align:center;}
.zlys li{ width:32.4%; display:inline-block; margin:0 1% 2%; position:relative;}
.zlys h5{ width:100%; font-size:0.375rem; color:#ffffff; font-weight:bold; text-align:center; line-height:1.2; position:absolute; left:0; top:14%;}
.zlys p{ font-size:0.375rem; color:#ffffff; text-align:left; line-height:1.4; width:72%; margin:0 auto 16%; position:absolute; left:0; top:35%; padding:0 14%;}
.zlys ul.zlys-u1 p{ top:40%;}
.zlys ul.zlys-u2 li{ margin:0 0.1% 2%;}
.zlys .zlys-u2-1 p{ top:46%;}

.szll dl{ width:98%; margin:0 auto; overflow:hidden; padding:2% 0; border-bottom:1px solid #e1e1e1;}
.szll dt{ width:40%; float:left; border:1px solid #d8d8d8;}
.szll dd{ width:58%; float:right;}
.szll h5{ font-size:0.375rem; color:#f00; margin:6% auto 4%;}
.szll h5 span{ font-size:0.5625rem; color:#1364b6; font-weight:bold; margin-right:2%;}
.szll p{ font-size:0.375rem; color:#000000; line-height:1.2; overflow:hidden;}
.szll p em{ font-size:0.4375rem; color:#f39b02; display:block; float:left; width:10%; margin-top:-1%;}
.szll p span{ float:left; display:block; width:90%;}

.box5{ width:100%;margin-top: 5%;}
.box5 .hd{ width:100%;text-align:center;}
.box5 .bd li{height:6.2rem;}
.box5 .bd .zj1{background-image:url(../images/zj1.jpg);background-size: cover;}
.box5 .bd .zj2{background-image:url(../images/zj2.jpg);background-size: cover;}
.box5 .bd .zj3{background-image:url(../images/zj3.jpg);background-size: cover;}
.box5 .hd li{ width:0.156rem; height:0.156rem; border-radius:50%; background:#666; display:inline-block;}
.box5 .hd .on{ background-color:#006DB8;}
.box5 p{ font-size:0.21rem;line-height:1.5;border-radius: 30px; width:3.89rem;margin:27% 0 0 54%; padding: 0 0.234rem 0 0.234rem;color:#FFF;}
.box5 a{text-align: center; color:#e60012;}
/*.szll div{ width:60%; text-align:center; margin-left:20%;overflow: hidden;}

.szll a{ width:45%; background:#f39b02; font-size:0.375rem; color:#fefefe; text-align:center; line-height:2; border-radius:5px; margin-top:6%;}
*/
.szll .btn{ background:#1364b4}
.szll h4{font-size:0.375rem; color:#F00;line-height: 1.4;}
.szll h4 b{ color:#000; display:inline;}
/*video*/
/*.vid{ width:98%; margin:3% auto; background:#f1f1f1;}*/
/*.vid li{ width:50%; }*/
/*.vid p{ font-size:0.46rem; color:#1364b6; padding:5% 5% 0;}*/
/*.vid span{ font-size:0.375rem; color:#666666; padding:2% 5%; line-height:1.4; text-align:justify;}*/
/*.vid a{ color:#f40101; display:inline}*/

.ali{overflow: hidden;}
.ali ul li{padding-bottom: 0.3125rem; border-bottom: 1px solid #ccc; margin-bottom: 0.3125rem;}
.ali ul li dl{width: calc(620rem/64); display: flex; justify-content: space-between;}
.ali ul li dl dt{width: calc(104rem/64);}
.ali ul li dl dt a{width: calc(80rem/64); padding: 0.1rem 0; font-size: 0.375rem; text-align: center; margin: 0.2rem auto 0;
border-radius: 0.1rem; display: block;}
.ali ul li dl dt a:nth-of-type(1){border: 1px solid #000; box-sizing: border-box;}
.ali ul li dl dt a:nth-of-type(2){background: #ffd203; color: #fff;}
.ali ul li dl dd{width:calc(511rem/64);}
.ali ul li dl dd h2{font-size: 0.46875rem; font-weight: bold;}
.ali ul li dl dd p{font-size: 0.375rem; color: #333333; line-height: 130%; margin: 0.15rem 0 0.3rem 0;}
.ali ul li dl dd p a{color: #ff0000;}

.dmore{text-align: center; margin-bottom: 0.5rem;}
.dmore a{background: #ffd203; font-size: 0.375rem; color: #fff; padding-right: 0.4rem; border-radius: 0.5rem;}
.dmore a em{width: calc(47rem/64); margin-right: 0.2rem; vertical-align: middle;}

.tishi{ font-size:0.4375rem; color:#f10000; text-align:center; margin:5% auto;
    background:#ebebeb; width:98%; line-height:2;}

/*zizhi*/
.zizhi{width:98%; margin:3% auto; }
.zizhi li{ width:49%;}


/*case*/
.case{ width:98%; margin:3% auto;}
.case li{ width:30%; border:#1364b6 solid 2px; float:left; margin-right:1.8%;}
.case .noMr{ float:right; margin-right:0;}
.case li p{ font-size:0.468rem; color:#FFF; text-align:center; background:#1364b4; line-height:1.5}

/*cause*/
.cause{ width:98%; margin:3% auto; font-size:0.375rem; color:#FFF; line-height:2; text-align:center; overflow:hidden;}
.cause li{ margin-top:2%;}
.cause1{ width:55%; background:#1eadae}
.cause2{ width:43%; background:#db7077}
.cause3{ width:43%; background:#2da7e1;}
.cause4{ width:55%; background:#e0a44b;}




















